@import url('https://fonts.googleapis.com/css2? family = Open + Sans + Condensed: wght @ 700 & display = swap');

body{
 
  font-family: Open Sans Condensed;
}
  h1{
    text-align: center;
  color:rgb(18, 20, 18);
 };

 p{
  text-align: center;
  color:rgb(18, 20, 18);
 }


 
