.wrapper{
  display: grid;
  width: 700px;
  height: 700px;
  border: 1px solid gray;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(202, 238, 211);
}

.wrapper >div{
  border: 1px solid black
}
.wrapper> div.inner-square{
  border: none;
  background-color: rgb(94, 93, 93);
}
.lane-vertical{
  background: rgb(94, 93, 93);;

}
 .lane-vertical div{
    width: 50%;
    height: 100%;
    border-right: 1px dashed black;
  }
.lane-horizontal{
  background-color:  rgb(94, 93, 93);;
  display: flex;
  flex-direction: column;
}
.lane-horizontal div:first-child{
    height: 50%;
    width: 100%;
    border-bottom: 1px dashed black;
  }